@page "/product/{productId:int}"
@inject UserManager<ApplicationUser> UserManager
@inject UserService UserService
@inject AuthenticationStateProvider StateProvider
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@attribute [Authorize]
@rendermode InteractiveServer

<style>
    .product-container {
        display: flex;
        flex-wrap: wrap;
    }

    .product-item {
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .product-image {
        width: 200px;
        height: 300px;
        object-fit: cover;
        cursor: pointer;
    }
</style>

<div class="product-container">
    @if (product != null)
    {
        <div class="product-item">
            <a href="/product/@product.Id">
                <img src="@product.ImageUrl" alt="@($"Product{product.Id}")" class="product-image" />
            </a>
            <div class="product-details">
                <h4>@product.Name</h4>
                <p>Description: @product.Description</p>
                <p>Quantity: @product.Quantity</p>
                <p>Price: @product.Price kr</p>
                <button @onclick="() => AddToCart(product)">Add to Cart</button>
            </div>
        </div>
    }
    else
    {
        <p>No product available.</p>
    }
</div>

<button @onclick="GoToConfirmation">Go To Cart</button>

@code {
    ApplicationUser? user;
    AuthenticationState? authenticationState;
    Product product;
    string userId = "TestUserId";

    [Parameter]
    public int ProductId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await StateProvider.GetAuthenticationStateAsync();
        var stateUser = await UserManager.GetUserAsync(authenticationState.User);
        user = await UserService.GetUserProductsInfo(stateUser);

        product = products.FirstOrDefault(p => p.Id == ProductId);
    }

    public async Task AddToCart(Product product)
    {
        if (user is not null)
        {
            user.Products.Add(product);
            await sessionStorage.SetItemAsync(userId, user.Products.ToList());
        }
    }

    public async Task GoToConfirmation()
    {
        var stateUser = await UserManager.GetUserAsync(authenticationState.User);
        user = await UserService.GetUserProductsInfo(stateUser);

        await sessionStorage.SetItemAsync(userId, user.Products.ToList());
        NavigationManager.NavigateTo("/ordercart");
    }

    public List<Product> products = new List<Product>
    {
        new Product { Id = 1, Name = "Sour Patch Kids", ImageUrl = "/images/product1.jpg", Description = "Not real kids", Quantity = 10, Price = 20 },
        new Product { Id = 2, Name = "Wine Gums", ImageUrl = "/images/product2.jpg", Description = "Neither red or white wine", Quantity = 15, Price = 25 },
        new Product { Id = 3, Name = "Jelly Tots", ImageUrl = "/images/product3.jpg", Description = "Skittles from wish", Quantity = 5, Price = 15 },
        new Product { Id = 4, Name = "Jelly Babies", ImageUrl = "/images/product4.jpg", Description = "Again not real babies", Quantity = 20, Price = 15 },
        new Product { Id = 5, Name = "Fruit Pastilles", ImageUrl = "/images/product5.jpg", Description = "Old people candy", Quantity = 8, Price = 18 },
    };
}