@page "/products/5"
@inject UserManager<ApplicationUser> UserManager
@inject UserService UserService
@inject AuthenticationStateProvider StateProvider
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@attribute [Authorize]
@rendermode InteractiveServer

<style>
    .product-container {
        display: flex;
        flex-wrap: wrap;
    }

    .product-item {
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .product-image {
        width: 200px;
        height: 300px;
        object-fit: cover;
        cursor: pointer;
    }
</style>

<div class="product-container">
    @if (product != null)
    {
        <div class="product-item">
            <a href="/products/@product.Id">
                <img src="@product.ImageUrl" alt="@($"Product{product.Id}")" class="product-image" />
            </a>
            <div class="product-details">
                <h4>@product.Name</h4>
                <p>Description: @product.Description</p>
                <p>Quantity: @product.Quantity</p>
                <p>Price: @product.Price kr</p>
                <button @onclick="() => AddToCart(product)">Add to Cart</button>
            </div>
        </div>
    }
    else
    {
        <p>No product available.</p>
    }
</div>

<button @onclick="GoToConfirmation">Go To Cart</button>

@code {
    ApplicationUser? user;
    AuthenticationState? authenticationState;
    Product product;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await StateProvider.GetAuthenticationStateAsync();
        var stateUser = await UserManager.GetUserAsync(authenticationState.User);
        user = await UserService.GetUserProductsInfo(stateUser);

        product = new Product { Id = 5, Name = "Fruit Pastilles", ImageUrl = "/images/product5.jpg", Description = "Old people candy", Quantity = 8, Price = 18 };
    }

    public async Task AddToCart(Product product)
    {
        if (user is not null)
        {
            user.Products.Add(product);
            await localStorage.SetItemAsync(user.Id, user.Products.ToList());
        }
    }

    public async Task GoToConfirmation()
    {
        var stateUser = await UserManager.GetUserAsync(authenticationState.User);
        user = await UserService.GetUserProductsInfo(stateUser);

        await localStorage.SetItemAsync(user.Id, user.Products.ToList());
        NavigationManager.NavigateTo("/orderconfirmcart");
    }
}